.logo {
  height: 50px;
  width: 50px;
  background: linear-gradient(to top, white, #319DCC, #202727);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 1px #28221e solid;
  box-shadow: 0 0 3px #222;
}