@media (max-width: 1199px) {
	.recent-project .owl-controls{
		display:none;
	}
}

@media (max-width: 1200px) and (min-width: 992px) {
	.menuzord-menu > li > a {
	    padding: 7px 8px 28px;
	}
	.theme_menu .thm-btn {
		padding: 0 13px;

	}
	
}

@media (max-width: 1200px) and (min-width:992px) {
	.two-column .inner-box .image-box {
		position: relative;
		margin-bottom: -95px;
	}
	.two-column .content-box{
		padding: 30px 0px 80px;
	}
}

@media (max-width: 1024px) {
	.project-carousel .owl-controls .owl-nav {
	  top: auto;
	  left: 0;
	  right: 0;
	}
	.recent-project .owl-controls {
    position: absolute;
    bottom: 45px;
    left: -155px;
	}
	
}




@media (min-width: 992px) {
	.menuzord-menu li .indicator {
		display: none;
	}
}

@media (max-width: 991px) {
	.menuzord-responsive.menuzord {
	    padding: 0 15px;
	    min-height: 66px;
	}
	.menuzord .showhide {
	    height: 60px;
	    width: 30px;
	    padding: 18px 0 41px;
	    float: none;
	}
	.menuzord .showhide span {
	    display: block;
	    width: 100%;
	    height: 2px;
	    margin: 4px 0;
	    background: #1d3349;
	}
	.menuzord-menu > li:first-child a {
	    padding-left: 20px;
	}
	.menuzord-menu ul.dropdown {
		padding: 0;
	}
	.menuzord-responsive .menuzord-menu.menuzord-indented > li > ul.dropdown > li:hover > a {
	    padding-left: 40px !important;
	}
	
	.theme_menu.stricky-fixed .main-logo {
	    display: none;
	}
	.menuzord-menu > li.current > a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #2098d1;
 }
	.right-area {
	    position: absolute;
	    right: 15px;
	    top: -17px;
	}
	.nav_side_content .search_option form {
	    width: 250px;
	    right: -25px;
	    top: 52px;
	}
	.theme_menu {
		background: #f7f7f7;
	}
	.main-logo {
	    margin: 15px 0 15px;
	}
	.nav_side_content {
		margin-top: 31px;
	}
	.two-column .content-box{
		padding: 30px 0px 80px;
	}
	.about .item-list .item.clearfix {
		margin-top: 0px;
	}
	.call-to-action {text-align: center;}
	.call-to-action a.thm-btn {float: none !important;  margin-top:20px;}
	.menuzord-responsive .menuzord-menu.menuzord-indented > li > ul.dropdown > li > a {
    padding-left: 40px !important;
    color: #2098d1;
}
}

@media (max-width: 768px) {
	.header-top .top-right, 
	.header-top .top-left {
		width: 100%;
		text-align:center;
	}
	
	.header-top .top-right ul,
	.header-top .top-left ul {
		text-align: center;
	}
	
	.header-top .top-right ul li,
	.header-top .top-left ul li {
		display: inline-block;
		float: none;
	}
	
	
	.our-team .owl-controls .owl-nav{
		margin-bottom: 10px !important;
	}
	.latest-news .owl-theme .owl-nav{
		margin-bottom: 10px !important;
	}
	
	.page-title .path{
		text-align:center;
	}
	.sidebar-page .sidebar {
		position: relative;
		padding-left: 0px;
	}
	.header-top .top-right{
		margin:10px 0px;
	}
	.footer-bottom{
		padding-bottom:70px;
	}
	.footer-bottom .pull-left{
		text-align:center;
		width:100%;
	}
	.footer-bottom .pull-right{
		text-align:center;
		margin-top:5px;
		width:100%;
	}
	
}

@media (max-width: 640px) {
	.rev_slider,
	.page-title{
		margin-top:0px !important;	
	}
	
	.page-title{
		text-align:center;
	}
	
}

@media (max-width: 700px) {
	.feature{
	margin-top:90px;
	}
}

@media (max-width: 575px) {

}

@media (max-width: 359px) {
	.feature .item-list .item .content-box p{
		display:none;
	}
	.feature .item-list .item .content-box h3{
		margin-top:10px;
		text-align:center;
	}
}


