    /*
    Flaticon icon font: Flaticon
    Creation date: 18/12/2016 10:54
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-black:before { content: "\f101"; }
.flaticon-budding-leaves:before { content: "\f102"; }
.flaticon-cell-phone:before { content: "\f103"; }
.flaticon-comments:before { content: "\f104"; }
.flaticon-gardener:before { content: "\f105"; }
.flaticon-gardening:before { content: "\f106"; }
.flaticon-gardening-in-home:before { content: "\f107"; }
.flaticon-lawn-mower:before { content: "\f108"; }
.flaticon-leaves:before { content: "\f109"; }
.flaticon-message:before { content: "\f10a"; }
.flaticon-nature:before { content: "\f10b"; }
.flaticon-nature-1:before { content: "\f10c"; }
.flaticon-people:before { content: "\f10d"; }
.flaticon-pin:before { content: "\f10e"; }
.flaticon-pin-1:before { content: "\f10f"; }
.flaticon-placeholder:before { content: "\f110"; }
.flaticon-plant-with-leaves:before { content: "\f111"; }
.flaticon-tool:before { content: "\f112"; }
.flaticon-trophy:before { content: "\f113"; }
.flaticon-watering-can:before { content: "\f114"; }
.flaticon-wheelbarrow:before { content: "\f115"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-black: "\f101";
    $font-Flaticon-budding-leaves: "\f102";
    $font-Flaticon-cell-phone: "\f103";
    $font-Flaticon-comments: "\f104";
    $font-Flaticon-gardener: "\f105";
    $font-Flaticon-gardening: "\f106";
    $font-Flaticon-gardening-in-home: "\f107";
    $font-Flaticon-lawn-mower: "\f108";
    $font-Flaticon-leaves: "\f109";
    $font-Flaticon-message: "\f10a";
    $font-Flaticon-nature: "\f10b";
    $font-Flaticon-nature-1: "\f10c";
    $font-Flaticon-people: "\f10d";
    $font-Flaticon-pin: "\f10e";
    $font-Flaticon-pin-1: "\f10f";
    $font-Flaticon-placeholder: "\f110";
    $font-Flaticon-plant-with-leaves: "\f111";
    $font-Flaticon-tool: "\f112";
    $font-Flaticon-trophy: "\f113";
    $font-Flaticon-watering-can: "\f114";
    $font-Flaticon-wheelbarrow: "\f115";